body {
  margin: 0;
  background-color: #fdd600;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;

  align-items: center;
  flex-direction: column;
  color: black;
}

header {
  justify-content: space-between;
  padding-top: 10px;
  margin-left: 1em;
  margin-right: 1em;
  align-items: baseline;
  color: black;
}
/****home****/

.my-name {
  display: flex;
  justify-content: center;
}

.thumbtack {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* home */

a {
  text-decoration: none;
  align-content: flex-end;
  padding: 10px;
  color: black;
  font-size: 14pt;
}
a:hover {
  color: blue;
}

.my-quote1 {
  align-content: flex-start;
  font-size: 16pt;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-quote2 {
  align-content: flex-start;
  font-size: 16pt;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 300px;
  height: 250px;
  font-size: 16px;
}

.img {
  width: 150px;
  height: 200px;
}

/* Contact page */
.contact-head {
  font-size: 20pt;
  font-weight: bold;
}

.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  font-size: 15pt;
  list-style-type: none;
}
li {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;

  width: 500px;
  height: 300px;
  font-size: 12pt;
}

label {
  font-size: 12pt;
  border: 3px black solid;
  padding-right: 150px;
  margin-top: 1em;
  height: 50px;
  background-color: bisque;
  padding-left: 1em;
  padding-top: 1em;
}

button {
  background-color: #cc252c;
  margin: 1em;
  width: 100px;
  font-size: 15px;
  font-weight: bold;
}

button:hover {
  background-color: #e34e55;
}
.contact-button {
  display: flex;
  justify-content: center;
}
.thumbtack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
}

/********** portfolio **************/

.portfolio-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project1 {
  background-color: bisque;
  width: 600px;
  height: 260px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}

.project2 {
  width: 600px;
  height: 260px;
  background-color: bisque;
  margin: 1em;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}

/*** About me ********/

.about-me {
  background-color: bisque;
  width: 800px;
  height: 250px;
  padding: 10px;
}
